
.navbar {
  width: 100%;
  position: absolute !important;
}
.content {
  display: flex;
  justify-content: center;
}

.comp_container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.upload_file {
  width: 100%;
  margin-bottom: 50px;
}

.upload_button {
  width: 100%;
}